*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0A0D14;
}

/*NAVBAR*/

nav {
  background-color: #0A0D14;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div img {
  width: 120px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
  color: orangered;
  border-bottom: 1px solid orangered;
}

.menu-icon {
  font-size: 28px;
  display: none;
  color:#ffffff;
  
}

main {
  padding-top: 7rem;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li:last-of-type {
    padding-bottom: 8px;
  }

  nav ul.hidden {
    display: none;
    color:white;
  }

  .menu-icon {
    display: flex;
    align-items: center;
  }
}
/*NAVBAR*/

img{
  width:100%;
  height:auto;
  padding: 20px;
  border-radius: 32px;
  margin-top:-10%;  
}

.position-relative {
  max-width: 100%; /* Ensure it doesn't exceed parent width */
  overflow: hidden; /* Hide overflow if needed */
}

.img-fluid {
  width: 100%; /* Make image responsive */
  height: auto; /* Maintain aspect ratio */
}

.text1 {
  color: white; /* Text color */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 5px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  font-size: 7vw; /* Responsive font size */
  transform: translate(-50%, -50%); /* Center text */
}

.col span{
  color: white; /* Text color */
  padding: 5px; /* Padding around text */
  border-radius: 5px; /* Rounded corners */
  font-size: 7vw; /* Responsive font size */
  text:center;
  font-weight: bold;
}

.col p{
  font-size:1.5vw;
  color: white;
  
}

/* Adjust font size for smaller screens */
@media (max-width: 768px) {
  .text1 {
      font-size: 5vw; /* Increase font size on smaller screens */
  }
  .col span{
    font-size:5vw;
  }
  .col p{
    font-size:1vw;
  }
}

@media (max-width: 576px) {
  .text1 {
      font-size: 3vw; /* Even larger font size for very small screens */
  }
  .col span{
    font-size:3vw;
  }
  .col p{
    font-size:0.5vw;
  }
}
